<div class="spinner" *ngIf="!data && !platform.isServer()" style="position: fixed; top: 50%; left: 50%; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px;"><img style="width: 100%;" src="img/spinner.gif" alt="loading"/></div>        
        <div class="content" [ngClass]="{'contentFix': !!htmlObject}">
            <div class="wrap">
                <div *ngFor= "let item of data; let i = index" class="exhPress" (click)='popUpActivate(i)'>
                     <div class="portThums">
                         <div class="aspect">
                            <img [src]="item.acf.press_photo.url" /> 
                         </div>
                     </div>
                    <p class="exhPressTitle">{{item.title.slice(0, 20)}}</p>    
                </div>
            </div>
        </div>  

<pop-up-init  (onPopOff)="onPopOff($event)" *ngIf="htmlObject" [contentObject]="htmlObject"></pop-up-init>