// apsect ratio mixin landscape

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .aspect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;  
  }
}


// mixin for vendor prefixes
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
// mixin for css3 calc
@mixin calc($name, $value) {
  #{$name}: -webkit-calc(#{$value});
  #{$name}: -ms-calc(#{$value});
  #{$name}: -moz-calc(#{$value});
  #{$name}: -o-calc(#{$value});
  #{$name}: calc(#{$value});
}

@mixin vendor-arg-prefix($name, $arg, $value) {
  -webkit-#{$name}: #{$arg}(#{$value});
  -ms-#{$name}: #{$arg}(#{$value});
  -moz-#{$name}: #{$arg}(#{$value});
  -o-#{$name}: #{$arg}(#{$value});
  #{$name}: #{$arg}(#{$value});
}

@mixin titleSize() { 
    font-size: 1.04rem;
      @media only screen and (min-width:736px) {
        font-size: .704rem;
      }
      @media only screen and (min-width:1050px) {
        font-size:1.12rem;
      }
}

@mixin thumbAndText() {
  @include aspect-ratio(1, 1.41621621621621);  
  margin-bottom: .8rem;
  overflow: hidden;
  h1 {
    @include titleSize();
    padding: 2.16rem .032rem .72rem 0;
  }
}