@import '_reset';
@import '_normalize';
@import '_mixins';
@include global-reset;


html { 
    width: 100%; 
    overflow-x:hidden; 
    font-size: 62.5%;
}

body { 
    font-family:helvetica; 
    width: 100%; 
    overflow-x: hidden;
}

img, iframe { 
    border: none; 
    width: 100%;
    display: block;
}

iframe { 
    position:relative; 
    z-index:1000; 
}


::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
     background: #393812;
     -webkit-border-radius: .1rem;
     -webkit-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.75);
 }

 ::-webkit-scrollbar-corner {
     background: #000;
 }

a { 
    text-decoration:none;
    color: #7b7c7e; 
    font-family:helvetica;
    font-size: 1.44rem; 
    word-wrap: break-word;
} 

a:active,a:hover, a:visited{ outline:0 }

p, p li, p a, span, li  { 
    font-family:verdana;
    font-size:1.2rem;
    color:#adb0b5;
    line-height: 130%;
}

h1, h2 {
    font-family:verdana;
    font-size:1.2rem;
    color:#adb0b5;
}

h3 p {
    font-size: 1.7rem;
    font-family: "Times New Roman", Times, serif;
    color: #434341;
}

@-moz-document url-prefix() {
    html{
        overflow-y:scroll;
        height:100%;
    }
}

.content {
    position: absolute; 
    width: 90%; 
    left: 5%; 
    margin-bottom: 4rem;
    background: transparent;
    min-width: 35rem;
    top: 9.1rem;
        
        @media only screen and (min-width:370px) { 
            @include calc(top, '7.734015345268542vw + 6.42rem');
        }    
        
        @media only screen and (min-width:736px) { 
            top:0; 
            margin-top:5rem;
            left:16.5%;
            height:100%;
            width:82.2%;
            margin-left: 3.08rem;
            max-width: 120rem;
            z-index:1;    
            min-width: initial;
        } 
}

.contentFix {
    position: fixed;
}

.animation {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}



